@charset "UTF-8";

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$media-xs: 0 !default;
$media-sm: 576px !default;
$media-md: 768px !default;
$media-lg: 992px !default;
$media-xl: 1200px !default;


/* Color palette */


$color-greyish:#ababab;
$color-warm-grey-two: #9b9b9b;
$color-greyish-brown: #4a4a4a;
$color-black: #000000;
$color-dull-orange: #c99a32;
$color-brownish-orange: #b5861f;
$color-hazel: #8e7614;
$color-claret: #590405;


$color-white: #ffffff;
$color-white-two: #e5e5e5;
$color-warm-grey: #999999;
$color-grey: #666666;
$color-dark-bule : #000; //#434e58;
$color-charcoal-grey: #302f30;
$color-orange: rgba(242,130,99,1);//#f58764; // rgba(245,135,100,1)
$color-rosy-pink: #f16670;
$color-pink: #EA686A;
$color-rouge: rgba(196,70,91,1); // #e3556d;  // rgba(241,102,112,1) rgba(186,70,91,1)
$color-blood: #b03857;


/* Font */
@import url(//fonts.googleapis.com/css?family=Cormorant+Infant);
$font-family-base: 'Arial', 'Cormorant Infant','PingFangTC', 'Microsoft JhengHei', 'sans-serif';

.text-rosy-pink{
    color: $color-rosy-pink;
}
.bg-white{
    background: $color-white;
  }
  
  .ul-dot{
    list-style: none; /* Remove list bullets */
      padding: 0;
      margin: 0;
  
    li{
      padding-left: 16px; 
      text-indent: -8px;
      &::before {
        content: '\f111'; 
        color: $color-rouge;      
        margin-left: -1em;
        font: normal normal normal 14px/1 FontAwesome;
        background-image: linear-gradient(147deg, #f58764, #f16670 73%);
        margin-right: 10px;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  :focus{
    background: #FFBF47 !important;
    border: 2px dashed $color-claret !important;
  }

  // CK-edit
  .ckedit{
    img{
      height: auto;
      width: 100%;
    }

  }