@charset "UTF-8";
.circle {
    // position: fixed;
    width: 100vw;
    top: 0;
    .container {
        position: relative;
    }
    &-box {
        position: absolute;
        display: block;
        z-index: -1;
        width: em(300);
        height: em(300);
        right: em(-120);
        top: em(-136);
        margin-right: em(-33);
        margin-top: em(30);
        &:before {
            position: absolute;
            display: block;
            z-index: -2;
            content: '';
            border-radius: em(300) em(200);
            width: em(300);
            height: em(300);
            right: 0;
            top: 0;
            background: rgba(241, 102, 112, 0.10);
            animation: rotating-r 30s linear infinite;
            -webkit-border-radius: em(300) em(200);
            -moz-border-radius: em(300) em(200);
            -ms-border-radius: em(300) em(200);
            -o-border-radius: em(300) em(200);
        }
        &:after {
            position: absolute;
            display: block;
            z-index: -3;
            content: '';
            border-radius: em(300) em(200);
            width: em(300);
            height: em(300);
            right: 0;
            top: 0;
            background: rgba(245, 135, 100, 0.20);
            animation: rotating-l 40s linear infinite;
            -webkit-border-radius: em(300) em(200);
            -moz-border-radius: em(300) em(200);
            -ms-border-radius: em(300) em(200);
            -o-border-radius: em(300) em(200);
        }
    }
    &-main {
        position: absolute;
        display: block;
        border-radius: em(300);
        width: em(300);
        height: em(300);
        right: 0;
        top: 0;
        background: linear-gradient(147deg, $color-orange, $color-rosy-pink 73%);
        -webkit-animation: rotating-r 60s ease infinite;
        -moz-animation: rotating-r 60s ease infinite;
        -o-animation: rotating-r 60s ease infinite;
        animation: rotating-r 60s ease infinite;
        -webkit-border-radius: em(300);
        -moz-border-radius: em(300);
        -ms-border-radius: em(300);
        -o-border-radius: em(300);
    }
    &_off {
        display: none;
    }
}

.c {
    position: relative;
    height: 100vh;
}
.c1 {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(147deg, $color-orange, $color-rosy-pink 73%);
    top: 50px;
    left: 10px;
    border-radius: 50%;
}
.c2 {
    position: absolute;
    left: 50%;
    top: 40vw;
    margin-left: -30vw;
    border-radius: 50%;
    width: 60vw;
    height: 60vw;
    color: $color-white;
    background-image: linear-gradient(147deg, $color-orange, $color-rosy-pink 73%);
    &:before {
        position: absolute;
        display: block;
        z-index: -2;
        content: '';
        border-radius: 62vw 50vw;
        width: 62vw;
        height: 60vw;
        left: 0;
        top: 0;
        background: rgba(241, 102, 112, 0.10);
        animation: rotating-r 10s linear infinite;
        -webkit-border-radius: 62vw 50vw;
        -moz-border-radius: 62vw 50vw;
        -ms-border-radius: 62vw 50vw;
        -o-border-radius: 62vw 50vw;
        -webkit-animation: rotating-r 10s linear infinite;
}
    &:after {
        position: absolute;
        display: block;
        z-index: -3;
        content: '';
        border-radius: 62vw 60vw;
        width: 62vw;
        height: 60vw;
        left: -1vw;
        top: 0;
        background: rgba(245, 135, 100, 0.20);
        animation: rotating-l 20s linear infinite;
        -webkit-border-radius: 62vw 60vw;
        -moz-border-radius: 62vw 60vw;
        -ms-border-radius: 62vw 60vw;
        -o-border-radius: 62vw 60vw;
}
    &-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        &-img {
            width: 33%;
            @include img-scale(1, 1);
        }
    }
    &-title {
        font-size: em(20);
        font-weight: bolder;
        line-height: 1.5;
        text-align: center;
    }
    &-subtitle {
        font-size: em(15);
        font-weight: bolder;
        line-height: 1.3;        
        text-align: center;
    }
}
.c3 {
    position: absolute;
    display: block;
    bottom: 20vh;
    right: 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(147deg, $color-orange, $color-rosy-pink 73%);
    p {
        font-size: em(20);;
        font-weight: bolder;
        line-height: 100px;
        letter-spacing: 3.2px;
        text-align: center;
        color: $color-white;
        margin: 0;
    }
    &:hover {
        text-decoration: none;
        color: $color-white;
        background-image: linear-gradient(-147deg, $color-orange, $color-rosy-pink 73%);
        transform: all 40s linear infinite;
        &::before {
            top: 5px;
            left: 10px;
        }
    }
    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        display: block;
        top: 5px;
        left: 10px;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-image: linear-gradient(-147deg, $color-orange, $color-rosy-pink 73%);
        opacity: 0.34;
    }
}

@media (min-width: $media-lg) {
    .circle {
        // position: fixed;
        width: 100%;
        top: 0;
        .container {
            position: relative;
        }
        &-box {
            position: absolute;
            display: block;
            z-index: -1;
            width: em(900);
            height: em(900);
            right: em(-450);
            top: em(-484);
            margin-right: em(-100);
            margin-top: em(80);
            &:before {
                position: absolute;
                display: block;
                z-index: -2;
                content: '';
                border-radius: em(900) em(600);
                width: em(900);
                height: em(900);
                right: 0;
                top: 0;
                background: rgba(241, 102, 112, 0.10);
                animation: rotating-r 30s linear infinite;
            }
            &:after {
                position: absolute;
                display: block;
                z-index: -3;
                content: '';
                border-radius: em(900) em(600);
                width: em(900);
                height: em(900);
                right: 0;
                top: 0;
                background: rgba(245, 135, 100, 0.20);
                animation: rotating-l 40s linear infinite;
            }
        }
        &-main {
            position: absolute;
            display: block;
            border-radius: em(900);
            width: em(900);
            height: em(900);
            right: 0;
            top: 0;
            background: linear-gradient(147deg, $color-orange, $color-rosy-pink 73%);
            -webkit-animation: rotating-r 60s ease infinite;
            -moz-animation: rotating-r 60s ease infinite;
            -o-animation: rotating-r 60s ease infinite;
            animation: rotating-r 60s ease infinite;
        }
        &_off {
            display: none;
        }
    }
    .c {
      position: relative;
      height: 100vh;
  }
  .c1 {
      position: absolute;
      width: 70px;
      height: 70px;
      background-image: linear-gradient(147deg, $color-orange, $color-rosy-pink 73%);
      top: 50px;
      left: 10px;
      border-radius: 50%;
  }
  .c2 {
      position: absolute;
      left: 50%;
      top: 5vw;
      margin-left: -18vw;
      border-radius: 50%;
      width: 30vw;
      height: 30vw;
      color: $color-white;
      background-image: linear-gradient(147deg, $color-orange, $color-rosy-pink 73%);
      &:before {
          position: absolute;
          display: block;
          z-index: -2;
          content: '';
          border-radius: 36vw 30vw;
          width: 32vw;
          height: 30vw;
          left: 0;
          top: 0;
          background: rgba(241, 102, 112, 0.10);
          animation: rotating-r 10s linear infinite;
          -webkit-border-radius: 36vw 30vw;
          -moz-border-radius: 36vw 30vw;
          -ms-border-radius: 36vw 30vw;
          -o-border-radius: 36vw 30vw;
          -webkit-animation: rotating-r 10s linear infinite;
  }
      &:after {
          position: absolute;
          display: block;
          z-index: -3;
          content: '';
          border-radius: 36vw 30vw;
          width: 32vw;
          height: 30vw;
          left: -1vw;
          top: 0;
          background: rgba(245, 135, 100, 0.20);
          animation: rotating-l 20s linear infinite;
          -webkit-border-radius: 36vw 30vw;
          -moz-border-radius: 36vw 30vw;
          -ms-border-radius: 36vw 30vw;
          -o-border-radius: 36vw 30vw;
  }
      &-main {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          &-img {
              width: 33%;
              @include img-scale(1, 1);
          }
      }
      &-title {
          font-size: em(30);
          font-weight: bolder;
          line-height: 1.5;
      }
      &-subtitle {
          font-size: em(16);
          font-weight: bolder;
          line-height: 1.2;
          letter-spacing: 2px;
      }
  }
  .c3 {
      position: absolute;
      display: block;
      bottom: 20vh;
      left: 20px;
      border-radius: 50%;
      width: 214px;
      height: 214px;
      background-image: linear-gradient(147deg, $color-orange, $color-rosy-pink 73%);
      p {
          font-size: em(32);
          font-weight: bolder;
          line-height: 214px;
          letter-spacing: 3.2px;
          text-align: center;
          color: $color-white;
          margin: 0;
      }
      &:hover {
          text-decoration: none;
          color: $color-white;
          background-image: linear-gradient(-147deg, $color-orange, $color-rosy-pink 73%);
          transform: all 40s linear infinite;
          &::before {
              top: 5px;
              left: 10px;
          }
      }
      &::before {
          z-index: -1;
          content: '';
          position: absolute;
          display: block;
          top: 15px;
          left: 20px;
          border-radius: 50%;
          width: 214px;
          height: 214px;
          background-image: linear-gradient(-147deg, $color-orange, $color-rosy-pink 73%);
          opacity: 0.34;
      }
  }
}

@keyframes rotating-r {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes rotating-l {
    from {
        -ms-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        transform: rotate(359deg);
    }
    to {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}