@charset "UTF-8";
.photo {
  &-x3 {
    margin-bottom: 30px;
    &__item {
      position: relative;
      overflow: hidden;
      margin-bottom: 30px;
      @include img-scale(3, 2);
      &:hover {
        .photo-x3{
          &__img {
            transform: scale(1.05);
          }
          &__title {
            background: rgba(0, 0, 0, 0.75);
          }
        }
      }
    }
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.8s ease-in-out;
    }
    &__title {
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.25);
      padding: 12px;
      font-size: em(17);
      font-weight: bolder;
      color: $color-white;
      line-height: 1.3;
      letter-spacing: 1px;
      width: 100%;
      height: 58px;
      transition: all 0.5s ease-in-out;
      @include ellipsis(100%, 2);
    }

    .owl{
      &-nav{
        position: absolute;
        width: 100%;
        top:38.4%;
        font-size:em(50); 
        line-height: 1;
        color: $color-orange;
        margin-top: -25px;
      }
      &-prev{
        position: absolute;
        left:0;       
      }
      &-next{
        position: absolute;
        right:0;
      }
    }
  }
  &-x6 {
    margin-bottom: 90px;
    &__item {
      position: relative;
      display: block;
      margin-bottom: 50px;        
      &:hover {
        text-decoration: none;
        color: $color-charcoal-grey;
        .photo-x6{
          &__img {
            transform: scale(1.05);
          }
        }
      }
      &-off{
        opacity: 0.65;
        &:hover{
          opacity: 1;
        }
      }
    }
    &__box{
      overflow: hidden;
    }
    &__img {        
      @include img-scale(3, 2);
      transition: all 0.8s ease-in-out;
    }
    &__title {
      position: relative;
      margin-top: 10px;
      font-size: em(17);
      font-weight: bolder;
      line-height: 1.3;
      letter-spacing: 1px;
      @include ellipsis(100%, 1);
      transition: all 0.5s ease-in-out;
      padding-left: 1rem;
      margin-bottom: 10px;
      &::before{
        position: absolute;
        content: "";
        width: 4px;
        height: 100%;
        background: linear-gradient(90deg, #f58764 , #f16670 );
        left: 0;
        top: 0;
      }
    }
    &__text {
      font-size: em(14);
      @include ellipsis(100%, 5);

      li{
        margin-bottom: 5px;
        a{
          @include ellipsis('100%',1);
        }
      }
    }

    .owl{
      &-nav{
        position: absolute;
        width: 100%;
        top:50%;
        font-size:em(50); 
        line-height: 1;
        color: $color-orange;
        margin-top: -25px;
      }
      &-prev{
        position: absolute;
        left:-25px;       
      }
      &-next{
        position: absolute;
        right:-25px;
      }
    }
  }
}

@media (min-width: $media-lg) {
  .photo {
    &-x3 {
      margin-bottom: 90px;
      &__item {
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        @include img-scale(3, 2);
        &:hover {
          .photo-x3{
            &__img {
              transform: scale(1.05);
            }
            &__title {
              background: rgba(0, 0, 0, 0.75);
            }
          }
        }
      }
      &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.8s ease-in-out;
      }
      &__title {
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.25);
        padding: 12px;
        font-size: em(17);
        font-weight: bolder;
        color: $color-white;
        line-height: 1.3;
        letter-spacing: 1px;
        width: 100%;
        height: 58px;
        transition: all 0.5s ease-in-out;
        @include ellipsis(100%, 2);
      }
  
      .owl{
        &-nav{
          position: absolute;
          width: 100%;
          top:50%;
          font-size:em(40); 
          line-height: 1;
          color: $color-orange;
          margin-top: -25px;
        }
        &-prev{
          position: absolute;
          left:-15px;       
        }
        &-next{
          position: absolute;
          right:-15px;
        }
      }
    }
    
  }
}