@charset "UTF-8";
.service {
    &-lecturer {
        background-color: $color-white-two;
        padding-top: 50px;
        padding-bottom: 50px;
        h2 {
            font-size: em(28);
            font-weight: bolder;
            color: #434e58;
        }
        &__icon {
            background-color: #f8f8f8;
            box-shadow: 3.9px 7px 21px 0 rgba(41, 38, 38, 0.1);
            width: 135px;
            height: 135px;
            border-radius: 135px;
            margin: 50px auto;
            @include img-scale(1, 1);
        }
        &__title {
            font-size:em(22);
            font-weight: bolder;
            color: #434e58;
        }
    }
    &-contact {
        background: $color-white;
        padding: 70px 0;
        h2 {
            margin-bottom: 70px;
        }
        &__title {
            position: absolute;
            right: -10%;
            top: 50%;
            background: $color-white;
            font-size: em(32);
            font-weight: bold;
            padding: 80px 0;
            margin-top: -128px;
            &-box {
                position: relative;
                width: 80%;
                margin: 5%;
                @include img-scale(1, 1);
                background: url(../images/icon/event-c.png) no-repeat center;
                background-size: contain;
            }
        }
        &__form {
            margin: 15px;
            padding: 30px;
            border-radius: 20px;
            background-color: $color-white-two;
            box-shadow: 0 -10px 0 0 $color-rosy-pink;
            &-title {
                position: relative;
                font-size: em(20);
                font-weight: 300;
                padding-left: 20px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: 0;
                    width: 15px;
                    height: 15px;
                    background: linear-gradient(55deg, #f58764, #f16670 50%);
                    border-radius: 50%;
                }
            }
            &-control {
                margin-bottom: 20px;
                border-radius: 0;
                border: none;
            }
            &-btn {
                display: inline-block;
                border: none;
                padding: 13px 36px;
                line-height: 1;
                font-size: em(23);
                font-weight: bolder;
                border-radius: 6px;
                color: $color-white;
                background-image: linear-gradient(55deg, #f58764, #f16670 67%);
                float: right;
                margin-top: -45px;
                cursor: pointer;
                &:hover{
                    background-image: linear-gradient(55deg, #f16670,#f58764 67%);
                }
            }
        }
    }
    &-lohas{
        &__item{
            display: flex;
            margin-bottom: 20px;
        }
        &__icon{
            width: 100px;
            height: 100px;
            @include img-scale(1,1);
            margin: 0 auto;
        }
        &__box{
            width: 80%;
            a{
                display: block;
                margin-bottom: 5px;
                @include ellipsis('100%',1);        
                text-align: left;        
            }
        }
        &__title{
            text-align: left;
            font-weight: bolder;
            font-size: rem(20);
            padding-left: 42px;
        }
        &__btn{
            &-more{
                text-align: right;
                color: $color-rouge;
            }
        }
        
    }
}

@media (min-width: $media-lg) {
    .service {
        &-contact {
            background: $color-white;
            padding: 70px 0;
            h3 {
                margin-bottom: 70px;
            }
            &__title {
                position: absolute;
                right: -20%;
                top: 50%;
                background: $color-white;
                font-size: em(32);
                font-weight: bold;
                padding: 80px 0;
                margin-top: -128px;
                &-box {
                    position: relative;
                    width: 80%;
                    ;
                    @include img-scale(1, 1);
                    background: url(../images/icon/event-c.png) no-repeat center;
                    background-size: contain;
                }
            }
            &__form {
                margin: 15px;
                padding: 30px;
                border-radius: 20px;
                background-color: $color-white-two;
                box-shadow: 0 -10px 0 0 $color-rosy-pink;
                &-title {
                    position: relative;
                    font-size: em(20);
                    font-weight: 300;
                    padding-left: 20px;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 7px;
                        left: 0;
                        width: 15px;
                        height: 15px;
                        background: linear-gradient(55deg, #f58764, #f16670 50%);
                        border-radius: 50%;
                    }
                }
                &-control {
                    margin-bottom: 20px;
                    border-radius: 0;
                    border: none;
                }
                &-btn {
                    display: inline-block;
                    padding: 13px 36px;
                    line-height: 1;
                    font-size: em(23);
                    font-weight: bolder;
                    border-radius: 6px;
                    color: $color-white;
                    background-image: linear-gradient(55deg, #f58764, #f16670 67%);
                    float: right;
                    margin-top: -45px;
                }
            }
        }
    }
}