@charset "UTF-8";
.footer {
  color: $color-charcoal-grey;
  background: $color-white-two;
  .logo {
    height: 48px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &-title {
    font-size: em(12);
    font-weight: bolder;
    letter-spacing: 0;
    line-height: 1;
    margin-top: 12px;
  }
  &-link{
    margin: 0;
    font-size: em(12);
    font-weight: 500;
    line-height: 1.42;
  }
  &-social{
    display: inline-block;
    font-size: em(30);
    width: 30px;
    height: 30px;
    margin: 5px 15px 0 15px;
    color: $color-charcoal-grey;
    &:hover{
      color: $color-charcoal-grey;
    }
    img{
      margin-top: -10px;
    }
  }
  &-more{
    border-bottom: 2px solid $color-white;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  &-copyright{
    text-align: center;
    font-size: em(12);
    color:$color-grey;
    padding-bottom: 20px;
  }
}

@media (min-width: $media-md) {
  .footer {
    padding: 30px 0 45px 0;
    text-align: center;
    .logo {
      height: 48px;
      margin-top: 5px;
    }
    &-title {
      font-size: em(20);
      font-weight: bolder;
      letter-spacing: 2px;
      line-height: 1;
      margin-bottom: 25px;
    }
    &-link{
      margin: 0 3px;
      font-size: em(18);
      font-weight: 500;
      line-height: 1.42;
    }
    &-social{
      display: inline-block;
      font-size: em(30);
      width: 30px;
      height: 30px;
      margin: -15px 15px 0 15px;
      color: $color-charcoal-grey;
      &:hover{
        color: $color-charcoal-grey;
      }
      img{
        margin-top: -10px;
      }
    }
    &-more{
      border-bottom: 2px solid $color-white;
      padding-bottom: 40px;
      margin-bottom: 20px;
    }
    &-copyright{
      text-align: left;
      font-size: em(15);
      color:$color-grey;
      padding-bottom: 0;
    }
  }
}