@charset "UTF-8";
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  &.affix {
    .btn {
      &-gotop {
        display: block;
        bottom: 0;
        color: $color-orange;
        transition: all 0.8s ease-in-out;
      }
    }
  }
  .container {
    padding: 0;
  }
  .menu-bar {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    align-items: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    background: linear-gradient(to top, $color-rouge, $color-rosy-pink);
    .navbar-toggler {
      position: relative;
      cursor: pointer;
      margin: 12px;
      width: 26px;
      height: 22px;
      background-color: rgba(0, 0, 0, 0);
      background-image: none;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 0;
      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
      .icon-bar {
        background: $color-white; //background: rgba(244,227,153,1);
        //background: -moz-linear-gradient(left, rgba(127,127,127,0.2) 0%, rgba(127,127,127,1) 100%);
        //background: -webkit-gradient(left top, right top, color-stop(0%, rgba(127,127,127,0.2)), color-stop(100%, rgba(127,127,127,1)));
        //background: -webkit-linear-gradient(left, rgba(127,127,127,0.2) 0%, rgba(127,127,127,1) 100%);
        //background: -o-linear-gradient(left, rgba(127,127,127,0.2) 0%, rgba(127,127,127,1) 100%);
        //background: -ms-linear-gradient(left, rgba(127,127,127,0.2) 0%, rgba(127,127,127,1) 100%);
        //background: linear-gradient(to right, rgba(127,127,127,0.2) 0%, rgba(127,127,127,1) 100%);
        //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#7f7f7f', GradientType=1 );
        position: absolute;
        left: 3px;
        display: block;
        width: 18px;
        height: 2px;
        border-radius: 0;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
      .icon-bar:nth-child(1) {
        top: 25%;
        opacity: 0;
      }
      .icon-bar:nth-child(2) {
        top: 50%;
        -webkit-transition-delay: 0s, .3s;
        transition-delay: 0s, .3s;
        opacity: 1;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      .icon-bar:nth-child(3) {
        top: 50%;
        -webkit-transition-delay: 0s, .3s;
        transition-delay: 0s, .3s;
        opacity: 1;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .icon-bar:nth-child(4) {
        top: 75%;
        opacity: 0;
      }
      &.collapsed {
        .icon-bar:nth-child(1) {
          top: 25%;
          opacity: 1;
        }
        .icon-bar:nth-child(2) {
          top: 50%;
          opacity: 0;
        }
        .icon-bar:nth-child(3) {
          top: 50%;
          -webkit-transition-delay: 0s, .3s;
          transition-delay: 0s, .3s;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          opacity: 1;
        }
        .icon-bar:nth-child(4) {
          top: 75%;
          opacity: 1;
        }
      }
      &:focus {
        outline: none;
      }
    }
    .logo-m {
      width: 42%;
      text-align: left;
      img {
        max-height: 32px;
        max-width: 180px;
      }
    }
  }
  .logo {
    display: none;
  }
  .btn {
    &-donation {
      position: fixed;
      top: 0;
      right: 0;
      width: 52px;
      font-size: em(14);
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 1.2;
      text-align: center;
      color: $color-white;
      margin: 9px 0;
      padding: 0 9px;
      z-index: 100;
      border-left: 1px solid rgba(255, 255, 255, 0.25);
    }
    &-gotop {
      position: fixed;
      display: block;
      bottom: -50px;
      right: 15px;
      line-height: 1;
      font-size: rem(50);
      opacity: 0.5;
      transition: all 0.8s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
  .menu {
    position: absolute;
    height: 100vh;
    width: 80vw;
    left: 0;
    top: 0;
    background: $color-pink;
    padding: 80px 15px;
    overflow-y: auto;
  }
  .nav {
    padding-left: 15px;
    &-item {
      width: 100%;
    }
    &-link {
      display: block;
      color: $color-white;
      padding-left: 0;
      float: left;
    }
    &-plus {
      display: block;
      color: $color-white;
      padding: 0;
      margin-top: -1px;
      float: right;
      &.collapsed {
        .fa-chevron-right {
          &:before {
            content: "\f054";
          }
        }
      }
      .fa-chevron-right {
        &:before {
          content: "\f078";
        }
      }
    }
    &-tool {
      .nav {
        padding-left: 0;
        &-item {
          width: 48%;
          margin: 0 1%;
          #AU {
            width: 100%;
            background: transparent;
            height: 0;
            padding: 0;
          }
          &:first-child {
            width: 80vw;
          }
          &:last-child {
            width: 80vw;
          }
        }
        &-link {
          display: inline-block;
          width: 100%;
          padding: 0.5rem 1rem;
          border-radius: 10px;
          color: $color-pink;
          background: rgba(255, 255, 255, 0.75);
          margin-bottom: 5px;
          text-align: center;
          a {
            color: $color-pink;
          }
        }
      }
    }
    .search {
      position: absolute;
      top: 65px;
      left: 10px;
      padding: 0;
      .btn-submit {
        display: none;
      }
      .fa-search {
        color: $color-white;
        cursor: pointer;
        font-size: em(20);
        margin-left: 5px;
      }
      #search-form {
        width: 72vw;
        display: flex;
      }
      #S {
        border: 1px solid transparent;
        background: rgba(255, 255, 255, 0.75);
        font-size: em(12);
        padding: 2px 5px 1px 5px;
        display: inline-block;
        transition: all 0.8s ease;
        width: 100%;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
      }
    }
  }
  .sub-nav {
    width: 100%;
    &__item {
      display: inline-block;
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.75);
      margin-bottom: 5px;
      text-align: center;
      a {
        color: $color-pink;
      }
    }
  }
}


@media (min-width: $media-lg) {
  header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: rgba(255, 255, 255, 0.0);
    transition: all 0.8s ease-in-out;
    &.affix {
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
      background: rgba(255, 255, 255, 0.90);
      transition: all 0.8s ease-in-out;
      &-top {
        .btn-gotop {
          bottom: -100px;
          color: transparent;
          transition: all 1.2s ease-in-out;
        }
      }
      .logo {
        display: block;
        height: 55px;
        width: 240px;
        margin-top: -10px;
        margin-bottom: 0;
        transition: all 0.8s ease-in-out;
      }
      .btn {
        &-donation {
          top: 100px;
          transition: top 0.8s ease-in-out;
        }
        &-gotop {
          display: block;
          bottom: 10px;
          color: $color-orange;
          transition: all 0.8s ease-in-out;
        }
      }
      .nav {
        &-main {
          margin-top: 0;
          margin-bottom: -16px;
          transition: all 0.8s ease-in-out;
        }
      }
    }
    .container {
      padding: 0 15px;
      text-align: right;
    }
    .logo {
      display: block;
      width: 300px;
      height: 55px;
      margin-top: -10px;
      transition: all 0.8s ease-in-out;
    }
    .btn {
      &-donation {
        position: fixed;
        top: 160px;
        right: 10px;        
        background-image: linear-gradient(147deg, #f16770, #eb4a69 41%);
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
        width: 78px;
        height: 78px;
        border-radius: 74px;
        font-size: em(18);
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 1.2;
        text-align: center;
        color: $color-white;
        padding: 18px 18px 16px 18px;
        z-index: -1;
        transition: top 0.8s ease-in-out;
        &:hover {
          text-decoration: none;
          border: 1px solid rgba(255, 255, 255, 1);
          box-shadow: none;
        }
      }
      &-gotop {
        position: fixed;
        display: block;
        bottom: 0;
        right: 35px;
        line-height: 1;
        font-size: rem(80);
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
    .menu {
      position: relative;
      background: transparent;
      padding: 0;
      height: auto;
      width: auto;
      overflow: initial;
      &.collapse {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
    .nav {
      &-tool {
        position: relative; // box-shadow: 0 0 5px 0 rgba(176,56,87,0.75);          
        display: inline-block;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
        background: linear-gradient(to top, $color-rouge, $color-rosy-pink);
        border-bottom-right-radius: em(10);
        border-bottom-left-radius: em(10);
        font-size: em(14);
        padding: 0 10px;
        .nav {
          padding-left: 0;
          &-item {
            width: auto;
            margin: 0;
            #AU {
              width: auto;
              background: transparent;
              padding: 8px;
            }
            &:first-child {
              width: auto;
            }
            &:last-child {
              width: auto;
            }
          }
          &-link {
            display: inline-block;
            width: auto;
            padding: 8px;
            border-radius: 10px;
            color: $color-white;
            background: transparent;            
            margin: 0;
            text-align: center;
            a {
              color: $color-pink;
            }
          }
        }
      }
      &-link {
        position: relative;
        color: $color-white;
        &.disabled{
          color: $color-greyish-brown;
          cursor: not-allowed;
        }
      }
      &-plus {
        visibility: hidden;
        width: 0;
        padding: 0.5rem 0;
      }
      &-main {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 5px;
        transition: all 0.8s ease-in-out;
        .nav-link {
          font-size: em(20);
          font-weight: bolder;
          color: $color-dark-bule;
          &:hover {
            color: $color-blood;
          }
        }
      }
      &-item {
        position: relative;
        width: auto;
        &:hover {
          .sub-nav {
            display: block;
          }
          .sub-nav__box {
            &::after {
              content: '';
              position: absolute;
              top: -2px;
              left: 5%;
              width: 90%;
              height: 1px;
              box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.75);
              display: block;
              z-index: 1;
            }
          }
        }
        &:first-child {
          width: auto;
        }
        &:last-child {
          width: auto;
        }
        #AU {
          width: auto;
        }
      }
      .search {
        position: relative;
        display: list-item;
        top: initial;
        left: initial;
        padding: 7px 7px 0 0;
        .btn-submit {
          display: none;
        }
        .fa-search {
          color: $color-white;
          cursor: pointer;
          font-size: em(14);
          margin-top: 3px;
        }
        #search-form {
          width: auto;
        }
        #S {
          border: 1px solid transparent;
          font-size: em(12);
          padding: 2px 5px 1px 5px;
          width: 0;
          display: inline-block;
          opacity: 0;
          transition: all 0.8s ease;
          background: $color-white;
        }
        &:hover {
          #S {
            opacity: 1;
            width: 90px;
            transition: all 0.8s ease;
          }
          .fa-search {
            color: $color-blood;
          }
        }
      }
    }
    .sub-nav {
      display: none;
      position: absolute;
      text-align: center;
      margin: 0 auto;
      width: 160px;
      top: 39px;
      left: 50%;
      margin-left: -80px;
      margin-bottom: 10px;
      padding: 0 10px 5px 10px;
      overflow: hidden;
      &__box {
        background: $color-white;
        border-bottom-right-radius: em(10);
        border-bottom-left-radius: em(10);
        box-shadow: 0 5px 0 0 $color-rouge;
        border-right: 1px solid $color-orange;
        border-left: 1px solid $color-orange;
        padding: 5px;
      }
      &__item {
        font-size: em(15);
        padding: 3px;
      }
    }
  }
}

@media (min-width: $media-xl) {
  header{
    .btn {
      &-donation {
        position: fixed;
        left: 50%;
        margin-left: $media-xl/2-40;
      }
    }
  }
}

